<img src="{{svg_file}}"/>

<form action="https://formcarry.com/s/oKSF5C_nX" method="POST" accept-charset="UTF-8">
<label for="ID">ID:</label>
<input type="text" name="ID" value="{{id}}" readonly>
<br>

<h4>Is this an instrument?</h4>
<input type="radio" id="yes" name="instrument" value="Y">
<label for="yes">Yes</label><br>
<input type="radio" id="no" name="instrument" value="N">
<label for="no">No</label><br>  

<h4>Is this an outcome?</h4>
<input type="radio" id="yes" name="outcome" value="Y">
<label for="yes">Yes</label><br>
<input type="radio" id="no" name="outcome" value="N">
<label for="no">No</label><br>  

<h4>Is this a plausible violation?</h4>
<input type="radio" id="vyes" name="violation" value="Y">
<label for="vyes">Yes</label><br>
<input type="radio" id="vno" name="violation" value="N">
<label for="vno">No</label><br>  

<input type="submit" value="Submit">
</form>
